@charset "utf-8";
@import "compass/css3";

%_pokemon-sprite {
  display: inline-block;
  vertical-align: bottom;
  background-position: 0 0;
  background-repeat: no-repeat;
}
%_size36 {
  width: 36px;
  height: 36px;
  @include background-size(36px 36px);
}
%_size48 {
  width: 48px;
  height: 48px;
  @include background-size(48px 48px);
}
%_size72 {
  width: 72px;
  height: 72px;
  @include background-size(72px 72px);
}
%_size96 {
  width: 96px;
  height: 96px;
  @include background-size(96px 96px);
}

.pokemon-sprite {
  @extend %_pokemon-sprite;
}
.wrap-icon36 {
  .pokemon-sprite {
    @extend %_size36;
  }
}
.wrap-icon48 {
  .pokemon-sprite {
    @extend %_size48;
  }
}
.wrap-icon72 {
  .pokemon-sprite {
    @extend %_size72;
  }
}
.wrap-icon96 {
  .pokemon-sprite {
    @extend %_size96;
  }
}

@mixin _pokemon {
  @for $i from 1 through 718 {
    @if($i < 10) {
      .no00#{$i} {
        background-image: inline-image("pokemon/00#{$i}.png");
      }
    }
    @if($i >= 10 and $i < 100) {
      .no0#{$i} {
        background-image: inline-image("pokemon/0#{$i}.png");
      }
    }
    @if($i >= 100 and $i <= 718) {
      .no#{$i} {
        background-image: inline-image("pokemon/#{$i}.png");
      }
    }
  }
}

@include _pokemon();

// others
.no487_altered {
  background-image: inline-image("pokemon/487_altered.png");
}
.no681_shield {
  background-image: inline-image("pokemon/681_shield.png");
}
.no681_blade {
  background-image: inline-image("pokemon/681_blade.png");
}
.no647_resolute {
  background-image: inline-image("pokemon/647_resolute.png");
}
.no492_sky {
  background-image: inline-image("pokemon/492_sky.png");
}
.no386_attack {
  background-image: inline-image("pokemon/386_attack.png");
}
.no386_speed {
  background-image: inline-image("pokemon/386_speed.png");
}
.no386_defense {
  background-image: inline-image("pokemon/386_defense.png");
}
.no641_therian {
  background-image: inline-image("pokemon/641_therian.png");
}
.no678_male {
  background-image: inline-image("pokemon/678_male.png");
}
.no678_female {
  background-image: inline-image("pokemon/678_female.png");
}
.no710_large {
  background-image: inline-image("pokemon/710_large.png");
}
.no710_small {
  background-image: inline-image("pokemon/710_small.png");
}
.no710_super {
  background-image: inline-image("pokemon/710_super.png");
}
.no711_large {
  background-image: inline-image("pokemon/711_large.png");
}
.no711_small {
  background-image: inline-image("pokemon/711_small.png");
}
.no711_super {
  background-image: inline-image("pokemon/711_super.png");
}
.no555_zen {
  background-image: inline-image("pokemon/555_zen.png");
}
.no646_black {
  background-image: inline-image("pokemon/646_black.png");
}
.no642_therian {
  background-image: inline-image("pokemon/642_therian.png");
}
.no646_white {
  background-image: inline-image("pokemon/646_white.png");
}
.no413_plant {
  background-image: inline-image("pokemon/413_plant.png");
}
.no413_trash {
  background-image: inline-image("pokemon/413_trash.png");
}
.no413_sandy {
  background-image: inline-image("pokemon/413_sandy.png");
}
.no648_piroutte {
  background-image: inline-image("pokemon/648_piroutte.png");
}
.no645_therian {
  background-image: inline-image("pokemon/645_therian.png");
}
.no479_wash {
  background-image: inline-image("pokemon/479_wash.png");
}
.no479_mow {
  background-image: inline-image("pokemon/479_mow.png");
}
.no479_fan {
  background-image: inline-image("pokemon/479_fan.png");
}
.no479_heat {
  background-image: inline-image("pokemon/479_heat.png");
}
.no479_frost {
  background-image: inline-image("pokemon/479_frost.png");
}
