@charset "utf-8";
@import "compass/css3";

%_pokemon-sprite {
  display: inline-block;
  vertical-align: bottom;
  background-position: 0 0;
  background-repeat: no-repeat;
}
%_size36 {
  width: 36px;
  height: 36px;
  @include background-size(36px 36px);
}
%_size48 {
  width: 48px;
  height: 48px;
  @include background-size(48px 48px);
}
%_size72 {
  width: 72px;
  height: 72px;
  @include background-size(72px 72px);
}

.pokemon-sprite {
  @extend %_pokemon-sprite;
}
.wrap-icon36 {
  .pokemon-sprite {
    @extend %_size36;
  }
}
.wrap-icon48 {
  .pokemon-sprite {
    @extend %_size48;
  }
}
.wrap-icon72 {
  .pokemon-sprite {
    @extend %_size72;
  }
}

@mixin _pokemon {
  @for $i from 1 through 718 {
    @if($i < 10) {
      .no00#{$i} {
        background-image: inline-image("pokemon/00#{$i}.png");
      }
    }
    @if($i >= 10 and $i < 100) {
      .no0#{$i} {
        background-image: inline-image("pokemon/0#{$i}.png");
      }
    }
    @if($i >= 100 and $i <= 718) {
      .no#{$i} {
        background-image: inline-image("pokemon/#{$i}.png");
      }
    }
  }
}

@include _pokemon();
