@charset "utf-8";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Questrial|Henny+Penny|Bonbon);

@import "partial/cassette";
@import "partial/flexible";
@import "partial/seemore";

@import "partial/type";

body {
  font-family: 'Questrial', sans-serif;
}

.logo {
  font-family: 'Bonbon', cursive;
}

.copyright {
  font-family: 'Henny Penny', cursive;
}
