@charset "utf-8";
@import "compass/css3";

@import "partial/cassette";
@import "partial/flexible";
@import "partial/seemore";

@import "partial/type";
@import "partial/move";

@font-face {
  font-family: pokemon;
  src: url("Pokemon Hollow.ttf") format("opentype");
}

body {
  font-family: Helvetica;
}

a {
  color: #345;

  &:hover {
    text-decoration: none;
  }
}

.logo {
  font-family: pokemon, Helvetica;
}

.copyright {
  font-family: Helvetica;
}

%_tiny {
  font-size: 10px;
}
%_small {
  font-size: 12px;
}
%_medium {
  font-size: 14px;
}
%_large {
  font-size: 16px;
}
%_bold {
  font-weight: bold;
}
%_top {
  vertical-align: top !important;
}
%_middle {
  vertical-align: middle !important;
}
%_bottom {
  vertical-align: bottom !important;
}
%_baseline {
  vertical-align: baseline !important;
}

.spacing {
  margin-bottom: 8px;
}

.sentence {
  line-height: 1.4;
  @extend %_medium;
  margin: 0;

  + .sentence {
    margin-top: 5px;
  }
}
.tiny {
  @extend %_tiny;
}
.small {
  @extend %_small;
}
.large {
  @extend %_large;
}
.top {
  @extend %_top;
}
.middle {
  @extend %_middle;
}
.bottom {
  @extend %_bottom;
}
.baseline {
  @extend %_baseline;
}
.minor {
  color: #789;
}
._level {
  margin-left: 4px;
}
._number {
}
._name {
  @extend %_large;
  @extend %_bold;
}
._move {
}

.btn {
  line-height: 14px;
}

.type-list {
  margin-left: 10px;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
